@font-face {
  font-family: 'icon_traveljp';
  src: url("fonts/icon_traveljp.ttf?xlt3j8") format("truetype"), url("fonts/icon_traveljp.woff?xlt3j8") format("woff"), url("fonts/icon_traveljp.svg?xlt3j8#icon_traveljp") format("svg");
  font-weight: normal;
  font-style: normal
}

[class^="icon_traveljp_"], [class*=" icon_traveljp_"] {
  font-family: 'icon_traveljp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon_traveljp_domactivity:before {
  content: "\e900"
}

.icon_traveljp_domair:before {
  content: "\e901"
}

.icon_traveljp_domdaytour:before {
  content: "\e902"
}

.icon_traveljp_domcar:before {
  content: "\e903"
}

.icon_traveljp_domhotel:before {
  content: "\e904"
}

.icon_traveljp_dompackage:before {
  content: "\e905"
}

.icon_traveljp_domshinkansen:before {
  content: "\e906"
}

.icon_traveljp_dombus:before {
  content: "\e910"
}

.icon_traveljp_domtour:before {
  content: "\e907"
}

.icon_traveljp_guide:before {
  content: "\e908"
}

.icon_traveljp_intair:before {
  content: "\e909"
}

.icon_traveljp_intcar:before {
  content: "\e90a"
}

.icon_traveljp_inthotel:before {
  content: "\e90b"
}

.icon_traveljp_intrestaurant:before {
  content: "\e90c"
}

.icon_traveljp_inttour:before {
  content: "\e90d"
}

.icon_traveljp_list:before {
  content: "\e90e"
}

.icon_traveljp_star:before {
  content: "\e90f"
}

.clearfix:after, .grid_wrapper:after, .layout:after, .button_wrapper--inbetween:after, .card--image-left:after, .prefecture_list:after, .simple_item--thumbnail:after, .app_promo_qrcode_item:after {
  content: '';
  display: table;
  clear: both
}

.text_align--right {
  display: block;
  text-align: right
}

.lowest {
  min-height: 300px
}

.grid_wrapper--20 {
  margin: 0 -5px
}

.grid_wrapper--20>[class*='col--one-'] {
  padding: 0 5px
}

.grid_wrapper--20 .col--one {
  margin-bottom: 20px;
  padding: 0 5px
}

[class*='col--one-'] {
  float: left
}

.col--one {
  float: none;
  width: 100%
}

.col--one-half {
  width: 50%
}

.col--one-third {
  width: 33.33333%
}

.col--one-quarter {
  width: 25%
}

.col--one-sixth {
  width: 60%
}

.pc-display .grid_wrapper--20 {
  margin: 0 -10px
}

.pc-display .grid_wrapper--20>[class*='col--one-'] {
  padding: 0 10px
}

.pc-display .grid_wrapper--20 .col--one {
  margin-bottom: 0
}

.pc-display .col--one-half--medium {
  float: left;
  width: 50%
}

.pc-display .col--one-third--medium {
  float: left;
  width: 33.33333%
}

.pc-display .col--one-quarter--medium {
  float: left;
  width: 25%
}

.pc-display .col--one-sixth--medium {
  width: 60%
}

.main {
  width: 74.4898%
}

.side {
  width: 23.46939%
}

.layout_heading {
  margin: 1.5625rem 0 .9375rem;
  font-size: 1rem
}

.content--gray .layout_heading {
  margin-bottom: 15px
}

.section {
  margin-bottom: 30px
}

.mar--bottom-10 {
  margin-bottom: 10px
}

.mar--bottom-20 {
  margin-bottom: 20px
}

.mar--bottom-30 {
  margin-bottom: 30px
}

.layout_with_thumb_figure, .layout_with_thumb_content {
  display: table-cell;
  vertical-align: top
}

.layout_with_thumb_figure {
  overflow: hidden
}

.layout_with_thumb--50 .layout_with_thumb_figure {
  width: 50px
}

.layout_with_thumb--60 .layout_with_thumb_figure {
  width: 60px
}

.layout_with_thumb--110 .layout_with_thumb_figure {
  width: 110px
}

.layout_with_thumb--110 .layout_with_thumb_content {
  padding-top: 14px;
  padding-left: 14px
}

.layout_with_thumb_image {
  width: 100%;
  display: block;
  border-radius: 2px
}

.figure_qr_code .layout_with_thumb_image {
  border-radius: 0
}

.layout_with_thumb_content {
  padding-left: 10px
}

.layout_with_thumb_content .text--red {
  margin-top: 5px
}

.layout_with_thumb--no-campaign .layout_with_thumb_figure, .layout_with_thumb--no-campaign .layout_with_thumb_content {
  vertical-align: middle
}

.layout_with_thumb--no-campaign .layout_with_thumb_figure {
  position: relative;
  background-color: #ecf8ff;
  border-radius: 3px
}

.layout_with_thumb--no-campaign .layout_with_thumb_figure:before {
  content: '';
  width: 100%;
  display: block;
  padding-top: 100%
}

.layout_with_thumb--no-campaign .layout_with_thumb_figure .layout_with_thumb_image {
  position: absolute;
  top: 8%;
  left: 22%;
  width: 58%;
  height: 84%
}

#promo p {
  font-size: .75rem;
  line-height: 1.58333
}

#promo .content_fixed_height--top {
  position: relative
}

#promo .content_fixed_height--bottom {
  height: 145px
}

#promo #svg_gra_mail {
  height: 145px;
  width: 180px
}

#promo .promo_campaign .button_wrapper {
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0
}

#promo .img_guide_line_capture {
  position: absolute;
  right: 21px;
  top: 54px;
  top: 16.875vw;
  width: 27.89116%;
  height: auto
}

#promo .promo_line_text {
  width: 65%
}

@media screen and (min-width: 768px) {
  .layout_heading {
    margin: 1.875rem 0 1.5rem;
    font-size: 1.125rem
  }
  .content--gray .layout_heading {
    margin-bottom: 15px;
    background-color: #21bff9;
    padding-top: 5px;
  }
  #promo p {
    font-size: .75rem;
    line-height: 1.58333
  }
  #promo .content_fixed_height--top {
    height: 158px
  }
  #promo .content_fixed_height--bottom {
    height: 155px
  }
  #promo #svg_gra_mail {
    height: 155px;
    width: 192
  }
  #promo .promo_campaign .button_wrapper {
    bottom: 35px
  }
  #promo .img_guide_line_capture {
    position: absolute;
    z-index: 2;
    right: 30px;
    top: 22px;
    width: 118px
  }
}

.side_content {
  padding: 0 10px
}

.side_nav {
  padding: 17px 0px 12px 17px
}

.nav_title {
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  font-size: .875rem;
  line-height: 1
}

.nav_item {
  float: left;
  margin: 0 15px 10px 0
}

.nav_item:nth-child(3n) {
  margin-right: 0
}

.nav_link {
  position: relative;
  display: block;
  line-height: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.nav_link--btn {
  position: relative;
  z-index: 2;
  color: #2b333c;
  font-weight: bold;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 0 #ccc;
  box-shadow: 0 1px 0 0 #ccc;
  border-radius: 3px
}

.nav_link:hover {
  color: #0081cc
}

.nav_link:hover [class*='icon_traveljp_'] {
  color: #fff;
  background-color: #0081cc
}

.nav_link_txt {
  display: table;
  padding-left: 39px;
  width: 141px;
  height: 40px
}

.nav_link_cell {
  display: table-cell;
  vertical-align: middle
}

.nav_link .icon_traveljp_guide {
  font-size: 1.313rem
}

.nav_link [class*='icon_traveljp_'] {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  font-size: 1.5625rem;
  color: #0081cc;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.nav_link [class*='icon_traveljp_']:before {
  vertical-align: middle;
  display: block;
  margin-top: 3px
}

.nav_link small {
  display: block;
  margin-left: -10px;
  font-size: .75rem
}

.nav_link--guide {
  display: block;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.nav_link--guide small {
  font-size: .625rem;
  white-space: nowrap
}

.nav_link--guide i, .nav_link--guide b {
  display: inline-block;
  vertical-align: bottom
}

.nav_link--guide i {
  margin-right: 5px;
  font-size: 1.375rem;
  color: #0081cc
}

.nav_link--guide b {
  position: relative;
  font-size: .8125rem
}

.nav_link--guide:hover {
  color: #0081cc;
  border-color: #0081cc
}

.side_hero {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding: 7px;
  font-size: .75rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.side_hero:hover {
  color: #0081cc;
  border-color: #0081cc
}

.side_hero .layout_with_thumb_content {
  padding-top: 2.5px
}

.side_hero_label {
  display: inline-block;
  margin-bottom: 6px;
  padding: 2.5px 5px;
  font-size: .625rem;
  background-color: #f7f7f7
}

.side_hero:hover .side_hero_label {
  color: #fff;
  background-color: #0081cc
}

.g-header_logo {
  margin-top: 26px
}

.g-header_list {
  margin-top: 18px
}

.g-header_bnr {
  height: auto
}

.g-header_bnr_link {
  float: left;
  margin-left: 2px;
  width: 230px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: #2b333c
}

.g-header_bnr_link:hover {
  opacity: 0.75
}

.g-header_bnr_img {
  display: block
}

a {
  color: #2b333c;
  text-decoration: none
}

img {
  image-rendering: -webkit-optimize-contrast
}

.text--red {
  color: red
}

.link--underline-arrow {
  margin-top: 9px;
  display: inline-block;
  color: #006699;
  text-decoration: underline
}

.link--underline-arrow:after {
  content: '';
  margin: 0 5px;
  width: 9px;
  height: 9px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #069;
  border-right: 2px solid #069
}

.link--underline-arrow:hover {
  text-decoration: none
}

.content_wrapper {
  width: 1180px;
  max-width: 1180px;
  margin: 0 auto;
  overflow-x: hidden
}

.layout_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.layout_flex--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.layout_flex--space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.layout_flex--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.top_content {
  margin-top: 17px;
  font-size: .875rem;
  line-height: 1.42857;
  letter-spacing: 0.01em;
  color: #2b333c
}

.top_content * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.top_content *:before, .top_content *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.section_wrapper {
  margin-bottom: 50px
}

.content--gray {
  width: 100%;
  min-width: 980px;
  background-color: #f7f7f7;
  overflow: hidden
}

.content--green {
  position: relative;
  background-color: #dbf8d4
}

.content--green:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-top: 11px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.content--mail-bg {
  position: relative
}

.content--mail-bg #svg_gra_mail {
  position: absolute;
  right: 0;
  top: 0
}

.content--mail-bg .button_wrapper {
  padding: 0
}

.content_dotted_top {
  position: relative;
  z-index: 2
}

.content_dotted_top:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(to right, #e5e5e5, #e5e5e5 4px, transparent 4px, transparent 8px)
}

.content--no-heading {
  padding-top: 40px
}

.gray_border {
  margin: 0 0 40px;
  background-color: #fff;
  border: 3px solid #eee
}

.gray_border--pad {
  padding: 20px
}

.gray_border--pad-35 {
  padding-bottom: 35px
}

.gray_panel_heading {
  font-size: 1.125rem
}

.gray_panel_heading--smaller {
  font-size: 1rem;
  line-height: 1.375
}

.ad_banner {
  margin: 50px 0;
  text-align: center
}

.ad_banner img, .ad_banner div {
  display: inline-block
}

.back_to_top {
  margin-bottom: 32px;
  padding-right: 50px;
  line-height: 1;
  font-size: .625rem;
  text-align: right
}

.back_to_top a {
  color: #666;
  text-decoration: underline
}

.alliance {
  padding-bottom: 18px;
  font-size: .75rem;
  text-align: center
}

.alliance_list {
  display: inline-block
}

.alliance_list:nth-child(n+2) {
  margin-left: 20px
}

.alliance_item {
  margin-right: 10px;
  color: #072c9b
}

.button_wrapper {
  padding: 10px 0;
  text-align: center
}

.tabby_content .button_wrapper, .tabby_content~.button_wrapper {
  padding: 20px 0 0
}

@media screen and (min-width: 768px) {
  .gray_border .button_wrapper {
    padding: 0
  }
}

.button {
  position: relative;
  display: inline-block;
  width: 240px;
  padding: 11px 0 10px;
  color: #fff;
  font-size: .875rem;
  background-color: #0081cc;
  border-radius: 3px;
  -webkit-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -4px;
  width: 9px;
  height: 9px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff
}

.button:hover {
  background-color: #005e95
}

.button_wrapper--inbetween {
  max-width: 450px;
  margin: 0 auto;
  font-size: 0
}

.button_wrapper--inbetween .button {
  width: 48.33333%
}

.button_wrapper--inbetween .button:first-of-type {
  float: left
}

.button_wrapper--inbetween .button:nth-of-type(2) {
  float: right
}

.button--LINE {
  margin-top: 17px;
  background-color: #1dcd00
}

.button--LINE:before {
  border-color: #1dcd00
}

.button--LINE:after {
  display: none
}

@media screen and (min-width: 768px) {
  .button {
    width: auto;
    padding: 10px 48px 8px 49px
  }
  .button_wrapper--inbetween .button {
    width: 200px
  }
}

.hero {
  width: 100%;
  min-width: 980px;
  position: relative;
  overflow: hidden
}

.hero_blur {
  position: absolute;
  z-index: -1;
  display: block;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}

.hero_blur:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2)
}

.hero_image {
  display: block;
  opacity: 0;
  -webkit-transition: opacity 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.hero_title, .hero_strapline {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8)
}

.hero_title {
  margin-bottom: 10px;
  font-size: 2rem
}

.hero_strapline {
  margin-bottom: 40px;
  font-size: 1.375rem
}

.hero_content {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 0 24px 0 26px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.search_wrapper {
  height: 118px;
  width: 100%;
  margin: 0 auto 45px
}

.hero_article_link {
  display: inline-block;
  margin-bottom: 15px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 6px #000
}

.hero_article_link:hover {
  text-decoration: none
}

.hero_article_link img {
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  margin-bottom: -5px
}

.hero_article_link span {
  text-decoration: underline
}

.hero_article_label {
  position: absolute;
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 4px 4px
}

.card {
  display: block;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.card_figure {
  position: relative;
  overflow: hidden
}

.card_figure:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 56.52174%
}

.card--PR .card_figure:after {
  content: 'PR';
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 18px;
  height: 12px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  font-size: .5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #fff
}

.card_image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.card_content {
  padding: 5px;
  position: relative
}

.card_title {
  margin-bottom: 5px;
  font-size: .75rem;
  line-height: 1.41667;
  font-weight: 400
}

.card_name_tag, .card_PR {
  display: none
}

.card_name_tag {
  font-size: .6875rem;
  color: #999;
  line-height: 1.16667
}

.card_PR {
  position: absolute;
  right: 5px;
  bottom: 5px;
  max-width: 220px
}

.card--image-top .card_figure {
  border-radius: 2px 2px 0 0
}

.card--image-top .card_figure:before {
  padding-top: 56.52174%
}

.card--image-top .card_content {
  border-radius: 0 0 2px 2px
}

.card--image-left .card_figure, .card--image-left .card_content {
  float: left;
  vertical-align: top
}

.card--image-left .card_figure {
  width: 41.37931%;
  border-radius: 2px 0 0 2px
}

.card--image-left .card_figure:before {
  padding-top: 100%
}

.card--image-left .card_content {
  width: 58.62069%;
  border-radius: 0 2px 2px 0
}

.card--image-left.card--image-rectangle {
  margin-bottom: 15px
}

.card--image-left.card--image-rectangle .card_title {
  font-size: .875rem
}

.card--image-left.card--image-rectangle .card_content {
  padding-left: 10px;
  padding-right: 10px
}

.card--image-left.card--image-rectangle .card_figure {
  width: 33.33333%
}

.card--image-left.card--image-rectangle .card_figure:before {
  padding-top: 56%
}

.card--image-left.card--image-rectangle .card_content {
  width: 66.66667%
}

@media screen and (min-width: 768px) {
  .card {
    margin-bottom: 20px
  }
  .card .card_figure {
    -webkit-transform-style: preserve-3d
  }
  .card.card--PR .card_figure:after {
    display: none
  }
  .card .card_image, .card .card_title, .card .card_name_tag {
    -webkit-transition: all .25s linear;
    transition: all .25s linear
  }
  .card:hover .card_title, .card:hover .card_name_tag {
    color: #0081cc
  }
  .card:not(.card--image-left):hover .card_image {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.05);
    opacity: .9;
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05)
  }
  .card.card--image-left:hover .card_image {
    opacity: .8
  }
  .card:not(.card--image-left) .card_content {
    padding-bottom: 0;
    height: 82px
  }
  .card_content {
    padding: 8px 5px
  }
  .card--image-left .card_figure {
    width: 39.13043%
  }
  .card--image-left .card_content {
    width: 60.86957%
  }
  .card_name_tag, .card_PR {
    display: block
  }
  .card_title {
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.375
  }
  .col--one-half--medium .card_title {
    font-size: 1rem
  }
}

.area_links {
  overflow: visible
}

.map_container {
  position: relative
}

.map_container:before {
  content: '';
  display: block;
  padding-top: 71.07438%
}

.map_figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden
}

.map_container--dom {
  background-color: #ccecff
}

.map_container--dom .map_figure {
  padding-top: 5.23256%;
  padding-left: 22.10744%
}

.map_container--int {
  background-color: #ecf8ff
}

.map_container--int .map_figure {
  padding-top: 15.49587%;
  padding-left: 5.78512%
}

.map_area_button {
  position: absolute;
  min-width: 18.59504%;
  padding: .5em 0 .42857em;
  cursor: pointer;
  color: #005e95;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border: 1px solid #005e95;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.map_container--int .map_area_button {
  padding-left: 10px;
  padding-right: 10px
}

.map_area_button.hover_state {
  color: #fff;
  background-color: #005e95;
  border-radius: 3px 3px 0 0
}

.map_area_button:hover {
  color: #fff;
  background-color: #005e95
}

.prefecture_list {
  position: absolute;
  display: none;
  opacity: 0;
  width: 39.2562%;
  padding: 10px 5px 0;
  background-color: #005e95;
  border-radius: 0 3px 3px
}

.prefecture_list--right {
  border-radius: 3px 0 0 3px
}

.prefecture_list.visible {
  display: block;
  opacity: 1;
  z-index: 2;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.map_container--int .prefecture_list {
  width: 50%
}

.prefecture_list[aria-labelledby=n_america] {
  width: 35.12397%
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.prefecture_item {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  padding: 0 5px
}

.map_container--int .prefecture_item {
  width: auto
}

.map_container--int .prefecture_item .prefecture_link {
  padding-left: 5px;
  padding-right: 5px
}

.prefecture_item--lrg {
  width: 62.63158%
}

.prefecture_link {
  display: block;
  padding: .5em 0 .42857em;
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #005e95;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.prefecture_link:hover {
  color: #fff;
  border-color: #fff;
  background-color: #005e95
}

[aria-labelledby="oceania"] .prefecture_link {
  font-size: .81rem;
  padding: .78571em 5px .57143em
}

[data-id="hokkaido"] {
  left: 55.16529%;
  top: 13.0814%
}

[data-id="tohoku"] {
  left: 68.38843%;
  top: 39.82558%
}

[data-id="kanto"] {
  left: 65.90909%;
  top: 59.88372%
}

[data-id="hokuriku"] {
  left: 43.59504%;
  top: 37.5%
}

[data-id="tokai"] {
  left: 56.19835%;
  top: 75.5814%
}

[data-id="kinki"] {
  left: 35.95041%;
  top: 52.03488%
}

[data-id="shikoku"] {
  left: 35.95041%;
  top: 81.39535%
}

[data-id="chugoku"] {
  left: 14.04959%;
  top: 59.88372%
}

[data-id="kyushu"] {
  left: 7.85124%;
  top: 76.74419%
}

[data-id="okinawa"] {
  left: 7.85124%;
  top: 28.77907%
}

[data-id="europe"] {
  left: 17.7686%;
  top: 24.7093%
}

[data-id="africa"] {
  left: 3.71901%;
  top: 49.4186%
}

[data-id="asia"] {
  left: 41.32231%;
  top: 35.75581%
}

[data-id="n_america"] {
  left: 77.89256%;
  top: 25.2907%
}

[data-id="s_america"] {
  left: 78.09917%;
  top: 68.60465%
}

[data-id="hawaii"] {
  left: 49.38017%;
  top: 54.36047%
}

[data-id="oceania"] {
  left: 25%;
  top: 78.19767%
}

.simple_list_title {
  display: none;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: .9375rem;
  text-align: center
}

.simple_list {
  counter-reset: section
}

.simple_list h4 {
  display: none
}

.simple_item {
  padding: 15px 0 13px;
  border-bottom: 1px dashed #ccc
}

.simple_item:first-of-type {
  border-top: 1px dashed #ccc
}

.simple_item_title {
  display: block;
  color: #2b333c;
  -webkit-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715)
}

.simple_item_price {
  color: red;
  text-align: right;
  font-weight: 700
}

.simple_item_price small {
  font-size: .75rem
}

@media screen and (min-width: 768px) {
  .simple_list_title {
    display: block
  }
  .simple_list {
    margin-bottom: 20px
  }
  .simple_item {
    padding: 7px 10px 5px 2px;
    -webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
  }
  .simple_item:hover {
    padding-left: 10px;
    background-color: #ffed99
  }
  .simple_item_price {
    font-weight: 400
  }
}

.simple_item--ranking {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 28px
}

.simple_item--ranking:before {
  position: absolute;
  top: 50%;
  left: 2px;
  counter-increment: section;
  content: counter(section);
  display: inline-block;
  margin-right: 10px;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  vertical-align: middle;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
}

.simple_item--ranking .simple_item_link {
  display: block;
  vertical-align: middle;
  padding-top: 13px;
  padding-bottom: 10px
}

.simple_item--ranking:hover {
  padding-left: 38px
}

.simple_item--ranking:hover:before {
  left: 12px
}

.simple_item--thumbnail {
  padding-top: 0;
  padding-bottom: 0
}

.simple_item--thumbnail .simple_item_link {
  display: block;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px
}

.simple_item--thumbnail .simple_item_figure {
  position: relative;
  float: left;
  display: block;
  width: 60px;
  border-radius: 3px;
  overflow: hidden
}

.simple_item--thumbnail .simple_item_figure:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 66.66667%
}

.simple_item--thumbnail .simple_item_image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.simple_item--thumbnail .simple_item_content {
  position: relative;
  float: left;
  width: calc(100% - 60px);
  padding: 2px 0 0 34px
}

.simple_item--thumbnail .simple_item_content:before {
  position: absolute;
  left: 11px;
  top: -2px;
  counter-increment: section;
  content: counter(section);
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700
}

.simple_item_label, .simple_item_star {
  display: inline-block;
  vertical-align: middle
}

.simple_item_label {
  width: 52px;
  height: 18px;
  margin-right: 7px;
  padding-top: 1px;
  font-size: .6875rem;
  text-align: center;
  background-color: #eee
}

.simple_item_star {
  font-size: .875rem;
  font-family: Arial, Helvetica, sans-serif
}

.simple_item_star i {
  color: #e9af00;
  margin-right: 4px
}

.dropdown {
  position: relative;
  z-index: 2;
  margin-right: 10px
}

.dropdown_button {
  position: relative;
  z-index: 2;
  width: 94px;
  height: 30px;
  padding: 2px 0 0 8px;
  color: #2b333c;
  font-weight: 800;
  line-height: 1;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 0 #ccc;
  box-shadow: 0 1px 0 0 #ccc;
  border-radius: 3px
}

.dropdown_button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -3px;
  display: block;
  border-top: 7px solid #2b333c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent
}

[data-area] {
  display: none
}

@media screen and (min-width: 768px) {
  .dropdown_button {
    width: 120px;
    height: 34px;
    -webkit-box-shadow: 0 2px 0 0 #ccc;
    box-shadow: 0 2px 0 0 #ccc;
    padding: 2px 0 0 13px
  }
  .dropdown_button:after {
    right: 10px
  }
  .dropdown_menu {
    top: 34px
  }
}

.dropdown_menu {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3)
}

.dropdown_item {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #eee
}

.dropdown_item:last-of-type {
  border-bottom: 0
}

.dropdown_item:hover {
  background-color: #eee;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) 1px, #eee 7px)
}

.dropdown_item.dropdown_item--active {
  background-color: #ecf8ff
}

.ota_navigator {
  width: 100%;
  min-width: 980px;
  padding: 15px 0;
  background-color: #f7f7f7
}

.ota_navigator .content_wrapper {
  padding: 0 25px
}

.ota_navigator_banner {
  position: relative;
  z-index: 2;
  width: 450px;
  display: block;
  padding-bottom: 5px;
  color: #005e95;
  text-align: center;
  background-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.ota_navigator_banner:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border: 1px solid #ccc
}

.ota_navigator_x {
  position: relative;
  width: 30px;
  height: 40px
}

.ota_navigator_x svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 39px;
  height: 39px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.ota_navigator_banner_title {
  margin: 1.25rem 0 .9375rem;
  font-size: 1rem;
  line-height: 1.375
}

.app_promo {
  position: relative;
  display: block;
  overflow: hidden;
  width: 86.73469%;
  margin: 0 auto
}

.app_promo_figure {
  position: relative;
  width: 100%
}

.app_promo_figure:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .6;
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 2px, rgba(255, 255, 255, 0.15) 2px, rgba(255, 255, 255, 0.15) 4px)
}

.app_promo_image {
  width: 100%;
  display: block
}

.app_promo_content {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  right: 24px;
  width: 69.41176%
}

.app_promo_heading {
  margin-bottom: 10px;
  font-size: 2rem;
  letter-spacing: .05em
}

.app_promo_lead {
  margin-bottom: 10px;
  font-size: .875rem;
  letter-spacing: .05em
}

.app_promo_badge {
  position: absolute;
  top: 51.22951%;
  left: 14.23529%;
  display: block;
  width: 107px;
  height: 108px;
  z-index: 3;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 0
}

.app_promo_badge svg {
  display: block;
  fill-opacity: .85
}

.app_promo_badge_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding-top: 22px;
  text-align: center;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg)
}

.app_promo_badge_content p {
  color: #0074c5;
  font-size: .54312rem;
  font-weight: 700
}

.app_promo_badge_content p strong {
  display: block;
  font-size: .67875rem
}

.app_promo_badge_logo {
  margin: 0 auto;
  width: 85px;
  height: 33px;
  fill: #0074c5
}

.app_promo_anim {
  position: absolute;
  z-index: 2;
  top: 11.88525%;
  left: 3.17647%;
  display: block;
  overflow: hidden;
  -webkit-transform: translateY(40%);
  transform: translateY(40%)
}

.app_promo_anim .app_promo_amin_phone {
  position: relative
}

.app_promo_anim .app_promo_amin_content {
  position: absolute;
  top: 24.92114%;
  left: 7.59494%
}

.app_promo--animating .app_promo_anim {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: app_phone 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: app_phone 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.app_promo--animating .app_promo_badge {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: app_badge 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: app_badge 1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.app_promo--animating .app_promo_amin_content {
  -webkit-animation: app_content 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s infinite;
  animation: app_content 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s infinite
}

@-webkit-keyframes app_phone {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes app_phone {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes app_badge {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.2);
    transform: scale(0.2)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes app_badge {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.2);
    transform: scale(0.2)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes app_content {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  65% {
    -webkit-transform: translateY(-58px);
    transform: translateY(-58px)
  }
  85% {
    -webkit-transform: translateY(-58px);
    transform: translateY(-58px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes app_content {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  65% {
    -webkit-transform: translateY(-58px);
    transform: translateY(-58px)
  }
  85% {
    -webkit-transform: translateY(-58px);
    transform: translateY(-58px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

.app_promo_qrcode {
  display: block;
  width: 100%;
  height: 100px;
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.7)
}

.app_promo_qrcode_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.app_promo_qrcode_list li {
  vertical-align: bottom;
  font-size: .75rem
}

.app_promo_qrcode_list img {
  display: block
}

.app_promo_qrcode_item:first-of-type {
  width: 35.48387%
}

.app_promo_qrcode_item:nth-of-type(2) {
  width: 39.24731%;
  padding-left: 22px
}

.app_promo_qrcode_item:last-of-type {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 25.26882%
}

.app_promo_qrcode_title {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1
}

.app_promo_qrcode_link {
  overflow: hidden;
  float: left
}

.app_promo_image_qrcode {
  float: right
}

.ico-top-before, .ico-top-after {
  position: relative
}

.ico-top-before:before, .ico-top-after:after {
  position: absolute;
  content: "";
  background: url(//img.travel.co.jp/images/top/ico_top.png) no-repeat;
  background-size: 50px auto
}

.main-visual {
  position: relative;
  margin-bottom: 40px
}

.search {
  position: absolute;
  z-index: 5;
  bottom: 80px;
  left: 50%;
  margin-left: -465px;
  width: 930px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-size: .875rem;
  color: #2b333c
}

.search_tab {
  padding: 0 25px;
  border-bottom: 1px solid #CCC
}

.search_tab_label {
  position: relative;
  float: left;
  margin-right: 18px;
  cursor: pointer
}

.search_tab_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0
}

.search_tab_txt {
  padding: 13px 7px 8px 8px;
  font-size: .8125rem;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.search_tab_txt:hover {
  color: #0081cc
}

.search_tab_input:checked+.search_tab_txt {
  font-weight: bold;
  color: #0081cc
}

.search_tab_input:checked+.search_tab_txt:after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0081cc
}

.search_body {
  position: relative;
  min-height: 77px;
  border-top: 1px solid #FFF
}

.search_panel {
  display: none;
  position: relative;
  padding: 17px 195px 19px 25px
}

.search_item {
  position: relative;
  float: left;
  margin-right: 10px;
  min-height: 40px;
  background-color: #FFF;
  border-radius: 5px
}

.search_item--dep, .search_item--dest {
  width: 225px
}

.search_item--word {
  width: 370px
}

.search_item--date {
  width: 220px
}

.search_panel--tour .search_item--date {
  width: 130px
}

.search_item:last-of-type {
  margin-right: 0
}

.search_panel--int.search_panel--tour .search_item--dep, .search_panel--int.search_panel--tour .search_item--dest {
  width: 220px
}

.search_panel--int.search_panel--air .search_item--dep, .search_panel--int.search_panel--air .search_item--dest {
  width: 235px
}

.search_panel--int.search_panel--tour .search_item--date {
  width: 140px
}

.search_item--dep:before, .search_item--dest:before {
  position: absolute;
  content: "";
  top: 50%;
  right: 13px;
  margin-top: -3px;
  border: 5px solid transparent;
  border-top: 7px solid #2b333c;
  border-bottom: none
}

.search_panel--int.search_panel--air .search_item--dep:before, .search_panel--int.search_panel--air .search_item--dest:before {
  display: none
}

.search_item--date:before {
  top: 50%;
  right: 10px;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background-position: 100% -50px
}

.search_item_trigger {
  position: relative;
  display: block;
  padding: 9px 22px 0 8px;
  width: 100%;
  height: 40px;
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 3px;
  text-decoration: none;
  color: #2b333c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.search_item_trigger:hover, .search_item.is-active .search_item_trigger {
  border-color: #0081cc
}

.search_trigger {
  position: relative
}

.search_trigger_ttl {
  position: absolute;
  top: 10px;
  left: 8px
}

.search_keyword {
  padding: 2px 30px 0 64px;
  background-color: transparent
}

.search_submit {
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -26px;
  padding: 11px 0 8px;
  width: 150px;
  background-color: #F90;
  border: none;
  border-bottom: 3px solid #dc8400;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.search_submit:hover {
  background-color: #ec920b
}

.search_submit:active {
  margin-top: -23px;
  border-bottom: none
}

.ui-text:before {
  top: 50%;
  left: 12px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-position: 100% 0
}

.ui-text_input {
  position: relative;
  padding: 1px 30px 0 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  background-position: -20px 8px;
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 3px;
  font-size: .875rem;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.ui-text_input:hover, .ui-text_input:focus {
  border-color: #0081cc
}

:placeholder-shown, ::-webkit-input-placeholder {
  color: #CCC
}

.ui-delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%
}

.ui-delete:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -10px;
  width: 18px;
  height: 2px;
  background-color: #999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.ui-delete:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -10px;
  width: 18px;
  height: 2px;
  background-color: #999;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.ui-delete:hover {
  opacity: .75
}

.ui-datepicker-trigger {
  position: relative;
  padding: 0 32px 0 8px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  background-size: 50px auto;
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 3px;
  font-size: .8125rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.ui-datepicker-trigger:hover, .search_item.is-active .ui-datepicker-trigger {
  border-color: #0081cc
}

.ui-select.search_item--dep, .ui-select.search_item--dest {
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 3px;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.ui-select.search_item--dep:before, .ui-select.search_item--dest:before {
  right: 13px
}

.search_panel--air .ui-select.search_item--dep, .search_panel--air .ui-select.search_item--dest {
  width: 235px
}

.ui-select:before {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border: 5px solid transparent;
  border-top: 7px solid #2b333c;
  border-bottom: none
}

.ui-select:hover {
  border-color: #0081cc
}

.ui-select_trigger {
  position: relative;
  display: block;
  padding: 9px 20px 0 8px;
  width: 100px;
  height: 40px;
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 3px;
  text-decoration: none;
  color: #2b333c;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.ui-select_trigger:hover, .ui-select_trigger.is-active {
  border-color: #0081cc
}

.ui-select_disp {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden
}

.ui-select_select {
  padding: 0 8px;
  width: 100%;
  height: 37px;
  -webkit-appearance: none;
  opacity: 0;
  cursor: pointer
}

.picker {
  display: none;
  position: absolute;
  z-index: 1;
  top: 63px;
  left: 635px;
  padding: 18px 20px 22px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.picker_ttl {
  margin-bottom: 14px
}

.picker_cont {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 19px;
  width: 158px;
  border-bottom: 1px dashed #CCC
}

.picker_cont:last-of-type {
  margin-bottom: 10px;
  border-bottom: none
}

.picker_val {
  padding-top: 6px;
  height: 34px;
  font: 20px bold Arial, Helvetica, "sans-serif";
  text-align: center
}

.picker_change {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background-color: #0081cc;
  border-radius: 3px
}

.picker_change:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -7px;
  width: 14px;
  height: 2px;
  background-color: #FFF
}

.picker_change:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
  width: 2px;
  height: 14px;
  background-color: #FFF
}

.picker_change:hover {
  background-color: #005e95;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.picker_change--plus {
  left: auto;
  right: 0
}

.picker_change--minus:after {
  display: none
}

.picker_change.is-disabled {
  background-color: #EEE
}

.picker_change.is-disabled:hover {
  opacity: 1;
  cursor: default
}

.picker_close {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 3px 0 2px 18px;
  width: 100px;
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: #2b333c;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.picker_close:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -32px;
  width: 14px;
  height: 2px;
  background-color: #2b333c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.picker_close:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -32px;
  width: 14px;
  height: 2px;
  background-color: #2b333c;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.picker_close:hover {
  opacity: .75
}

.menu {
  display: none;
  position: absolute;
  z-index: 5;
  top: 49px;
  left: 0;
  width: 350px;
  height: 392px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden
}

.search_item.is-active--2 .menu {
  height: 442px
}

.menu_body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 390px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: .15s linear;
  transition: .15s linear
}

.menu_body:nth-of-type(2) {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0)
}

.search_item.is-active .menu_body:first-of-type {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.search_item.is-active .menu_body:nth-of-type(2) {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0)
}

.search_item.is-active .menu_body:nth-of-type(3) {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0)
}

.search_item.is-active--2 .menu_body:first-of-type {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0)
}

.search_item.is-active--2 .menu_body:nth-of-type(2) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.search_item.is-active--2 .menu_body:nth-of-type(3) {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0)
}

.search_item.is-active--3 .menu_body:first-of-type {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0)
}

.search_item.is-active--3 .menu_body:nth-of-type(2) {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0)
}

.search_item.is-active--3 .menu_body:nth-of-type(3) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.menu_cont--major {
  padding: 14px 0 7px 15px
}

.menu_cont_subttl {
  margin-bottom: 9px;
  font-size: .75rem
}

.menu_cont_link {
  position: relative;
  display: block;
  padding: 9px 24px 9px 15px;
  border-bottom: 1px solid #EEE;
  text-decoration: none;
  color: #2b333c;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.menu_cont_link:hover {
  color: #0081cc
}

.menu_cont_link[data-type="airport"] {
  padding-left: 30px
}

.menu_cont_link[data-detail]:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 14px;
  margin-top: -4px;
  width: 6px;
  height: 6px;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.menu_cont--major .menu_cont_link {
  float: left;
  margin: 0 8px 8px 0;
  padding: 4px 7px 3px;
  border: 1px solid #c1c1c1;
  border-bottom-width: 2px;
  border-radius: 3px;
  font-size: .8125rem
}

.menu_cont--major .menu_cont_link:hover {
  border-color: #0081cc;
  color: #2b333c
}

.menu_cont--major .menu_cont_link:active {
  background-color: #006cab;
  border-color: #006cab;
  border-bottom-color: #004e7c;
  font-weight: bold;
  color: #FFF
}

.menu_cont_acc {
  position: relative;
  display: block;
  padding: 7px 32px 6px 15px;
  background-color: #ccecff;
  border-bottom: 1px solid #FFF;
  font-size: .75rem;
  text-decoration: none;
  color: #2b333c
}

.menu_cont_acc:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 12px;
  margin-top: -6px;
  width: 6px;
  height: 6px;
  border-right: 2px solid #2b333c;
  border-bottom: 2px solid #2b333c;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu_cont_acc.is-open:after {
  margin-top: -3px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg)
}

.menu_cont_panel {
  display: none
}

p.menu_cont_acc+.menu_cont_panel, .search_panel--int .search_item--dest .menu_cont_panel {
  display: block
}

.menu_cont_panel_acc {
  position: relative;
  display: block;
  padding: 8px 10px 7px 38px;
  background-color: #ccecff;
  border-bottom: 1px solid #FFF;
  font-size: .8125rem;
  text-decoration: none;
  color: #2b333c
}

.menu_cont_panel_icon {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 50%
}

.menu_cont_panel_icon:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -7px;
  width: 14px;
  height: 2px;
  background-color: #0081cc
}

.menu_cont_panel_icon:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
  width: 2px;
  height: 14px;
  background-color: #0081cc
}

.menu_cont_panel_acc.is-open .menu_cont_panel_icon:after {
  display: none
}

.menu_cont_acc_txt {
  display: block;
  margin-top: 2px;
  font-size: .75rem
}

.menu_cont_panel_sub {
  display: none
}

.menu_foot {
  position: absolute;
  bottom: -50px;
  left: 0;
  padding-top: 8px;
  width: 100%;
  height: 49px;
  border-top: 1px solid #CCC;
  -webkit-transition: .15s linear;
  transition: .15s linear
}

.search_item.is-active--2 .menu_foot {
  bottom: 0
}

.menu_back {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 7px 0 0 15px;
  width: 150px;
  height: 32px;
  background-color: #0081cc;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.menu_back:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 13px;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu_back:hover {
  background-color: #005e95
}

.menu--dest .menu_cont_panel:first-of-type, .menu--dest .menu_body:nth-of-type(2) .menu_cont_panel:nth-of-type(n+2) {
  display: block
}

p.menu_cont_acc:after {
  display: none
}

.ico-yair-before {
  position: relative
}

.ico-yair-before:before {
  position: absolute;
  content: "";
  background: url("//img.travel.co.jp/images/Yair/flights/ico_yair.png?180404") no-repeat
}

.search_panel_cont {
  height: 390px;
  overflow-y: scroll
}

.search_panel_item {
  position: relative;
  padding: 11px 14px 10px;
  border-bottom: 1px solid #ececec;
  font-size: .875rem;
  color: #006cab;
  cursor: pointer
}

.search_panel_item:last-child {
  border-bottom: none
}

.search_panel_item:hover {
  background-color: #f7f7f7
}

.search_panel_item_txt {
  padding-left: 20px;
  color: #2b333c
}

.search_panel_item_txt:before {
  top: 0;
  left: 0;
  width: 12px;
  height: 18px;
  background-position: 100% -1027px
}

.search_panel_item--airport .search_panel_item_txt:before {
  top: 1px;
  width: 16px;
  height: 16px;
  background-position: 100% -1105px
}

.search_panel_txt_sub {
  display: block;
  padding-top: 1px;
  font-size: .75rem
}

.search_panel_item--sub {
  padding-left: 35px
}

.search_panel_item--sub .search_panel_item_txt {
  padding-left: 22px
}

.search_panel_item--sub .search_panel_item_txt:before {
  top: 1px;
  width: 16px;
  height: 16px;
  background-position: 100% -1105px
}

#ui-datepicker-div {
  margin-top: 5px;
  padding: 70px 0 22px;
  width: 818px !important;
  border: 1px solid #CCC;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

#ui-datepicker-div:before {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC
}

#ui-datepicker-div * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#ui-datepicker-div .ui-datepicker-txt {
  position: absolute;
  top: 15px;
  left: 22px;
  font-size: .875rem;
  color: #2b333c
}

#ui-datepicker-div .ui-datepicker-close {
  position: absolute;
  top: 9px;
  right: 20px;
  padding: 3px 0 2px 22px;
  width: 100px;
  line-height: normal;
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-weight: normal;
  color: #2b333c;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

#ui-datepicker-div .ui-datepicker-close:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -32px;
  width: 14px;
  height: 2px;
  background-color: #2b333c;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

#ui-datepicker-div .ui-datepicker-close:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -32px;
  width: 14px;
  height: 2px;
  background-color: #2b333c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

#ui-datepicker-div .ui-datepicker-group {
  margin: 0;
  padding: 0 15px;
  width: 273px
}

#ui-datepicker-div .ui-datepicker-group-first {
  padding-left: 20px
}

#ui-datepicker-div .ui-datepicker-group-middle {
  width: 272px;
  border-right: 1px dashed #CCC;
  border-left: 1px dashed #CCC
}

#ui-datepicker-div .ui-datepicker-group-last {
  padding-right: 20px
}

#ui-datepicker-div .ui-datepicker-header {
  padding: 0;
  background: none
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
  height: auto;
  line-height: 1.2;
  font-size: .875rem;
  font-weight: normal;
  color: #2b333c
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title span {
  font-size: .875rem;
  font-weight: normal;
  font-family: inherit
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
  margin-left: -3px
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev, #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
  top: -9px;
  padding: 6px 0 0 12px;
  width: 65px;
  height: 32px;
  background-color: #0081cc;
  border-radius: 3px;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev:before, #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -20px;
  width: 8px;
  height: 8px;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev:hover, #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:hover {
  background-color: #005e95
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span, #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span {
  position: static;
  width: auto;
  line-height: normal;
  font-weight: normal
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
  padding: 6px 12px 0 0
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:before {
  left: auto;
  right: 50%;
  margin: -5px -21px 0 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg)
}

#ui-datepicker-div .ui-datepicker-calendar {
  margin-top: 14px
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar th {
  height: 30px;
  vertical-align: top;
  color: #2b333c
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td {
  border: none
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td a {
  background: none;
  line-height: 34px;
  font-size: .9375rem;
  font-weight: normal;
  color: #2b333c
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td a:hover {
  background-color: #ccecff
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td.ui-datepicker-today a {
  font-weight: bold
}

#ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-unselectable span {
  height: 34px;
  line-height: 34px;
  background: none;
  font-size: .9375rem;
  font-weight: normal;
  color: #CCC
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td.custom-range a {
  background-color: #ecf8ff
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td a.ui-state-active, #ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td.ui-datepicker-current-day.custom-range a {
  background-color: #0081cc;
  border-radius: 3px;
  color: #FFF
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td.ui-datepicker-current-day.custom-range a {
  border-radius: 3px 0 0 3px
}

#ui-datepicker-div .ui-datepicker-group .ui-datepicker-calendar td.custom-range--end a {
  background-color: #0081cc;
  border-radius: 0 3px 3px 0;
  color: #FFF
}

#ui-datepicker-div .ui-datepicker-buttonpane {
  margin-top: 0
}

#ui-datepicker-div .date-select {
  margin: 0
}

#ui-datepicker-div .date-select_btn {
  position: relative;
  margin: 16px 10px 0;
  padding: 3px 0;
  width: 100px;
  line-height: 1.4;
  background: none;
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 3px;
  font-weight: normal;
  color: #2b333c
}

#ui-datepicker-div .date-select_btn:active {
  top: 1px;
  border-bottom-width: 1px
}

#ui-datepicker-div .date-select_btn.is-active {
  background-color: #0081cc;
  border-color: #0081cc;
  color: #FFF
}


/*# sourceMappingURL=top.css.map */